body {
    color: aliceblue;
    background-image:url("https://cdn.sortiraparis.com/images/80/94880/671306-netflix.jpg");
    margin-left: 20px;
    margin-top: auto;
    font-size: 25px;
    font-family: sans-serif;

}
h1{
    color: aqua;
}